.registration-container {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  margin: 50px auto 0;
}

.registration-form {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
}

.registration-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 5px;
}

.registration-table td {
  width: 50%;
  text-align: left;
  border-bottom: none; // Remove bottom border from table rows
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
  margin-left: 10px;
}

.input-field {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  
  &:focus {
    border-color: dodgerblue;
    outline: none;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1.0;
    }

    &:nth-child(1) {
      background-color: dodgerblue;
    }

    &:nth-child(2) {
      background-color: green;
      margin-left: 30px;
    }
  }
}
