*{
    font-family: Poppins, sans-serif;
}
.title_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    width: 95%;
    height: 50px;
    margin-top: 20px;
}

.logo_container img {
    height: 80px;
    object-fit: fill;
}
.avatar img{
    width: 50px;
    border-radius: 10%;
}
.avatar_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    height: 50px;
    margin-right: 25px;
}