.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  Button{
    height: 40px;
  }
}
h3{
  padding-top: 10px;
  padding-right: 50px;
}

.camera-status-disabled {
  color: red;
}

.camera-status-active {
  color: green;
}

.camera-status-under-maintenance {
  color: orange;
}
.add-camera-button{
  margin-left: 20px;
  background-color: #43B749;
}

.search-input{
  height: 40px;
  width: 800px;
}