button {
    height: 40px;
    width: 130px;
    background-color: #1CAC78;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    float: right;
    
}

button:hover {
    background-color: #006A4E;
}
