/* Styles for the download button */
.download-button {
    height: 40px;
    width: 150px;
    background-color: #17B169;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin: 20px;
    text-align: center;
    float: right;
    
}

.download-button:hover {
    background-color: #006A4E;
}
