.landing_page_button {
    background-color: #1CAC78;
    font-weight: normal;
    color: #ffffff;
    font-size: 22px;
    border: 0px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    padding: 8px 35px;
    margin: 20px;
    text-decoration: none;
}
.landing_page_button:hover{
    background-color: #006A4E;
}

