.Container{
    overflow: hidden;
}
.TopCont{

    position: fixed;
    z-index: 10;
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    top: 0;
    height: 90px;

}

.BottomCont{
    width: 100%;
    background-color: white;
    bottom: 0;
    position: fixed;
    padding-bottom: 5px;
}
.Cont{
    background-color: #ffffff;
    margin-top: -120px;
    position: fixed;
    scale: 0.8;
}

