.table-container {
  margin-top: 20px;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th,tr,td{
    height: 40px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
