/* Styles for the dashboard location table */
.table-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.ant-table-wrapper {
  width: 100%;
  
}
.ant-table {
  width: 100%;
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 16px 8px;
  height: 50px;
  margin-top: -100px;
}

.ant-table-thead > tr > th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

