
.button.long_button_green {
    width: 95%;
    height: 50px;
    background-color: #07f64a;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}

.button.long_button_green:hover {
    background-color: #03be35;
}
.button.long_button_blue {

    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}
.button.long_button_blue:hover {
    background-color: #0056b3;
}
