
.TopContM{
    padding-top: 5px;
    width: 100%;
    background-color: white;
    top: 0;
    height: 150px;
}

.BottomContM{
    width: 100%;
    background-color: white;
    bottom: 0;
    position: absolute;
}
.ContM{
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1% 2%;
    margin: 2% 5%;
    width: 85%;
    background-color: white;

}