/* Styles for the footer */
.footer {
    width: 100%;
    background-color: #ffffff;
    color: rgba(129, 128, 128, 0.76);
    padding: 20px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    line-height: 20px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer-logo {
    flex: 1;
    text-align: left;
    scale: 1.5;
  }
  
  .footer-logo img {
    max-width: 100px;
  }
  
  .footer-info {
    flex: 2;
    text-align: center;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-nav a {
    color: rgba(114, 112, 112, 0.56);
    margin: 0 15px;
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    color: #383838;
  }
  
  .footer-icons {
    flex: 1;
    text-align: right;
  }
  
  .footer-icons a {
    color: rgba(129, 128, 128, 0.56);
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
  }
  
  .footer-icons a:hover {
    color: #383838;
  }
  