.search-bars-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 40px;
  gap: 10px; 
  margin-top: 20px;
}

.ant-select-arrow {
  right: 10px; 
  svg {
    width: 10px; 
    height: 10px; 
  }
}

.search-bars-container > :last-child {
  margin-right: 0;
}

.refresh-button{
  background-color: black;
  height: 40px; 
}

.clear-button{
  background-color: black;
  height: 40px; 
}

.search-button{
  width: 140px;
  height: 40px; 
}

.search-button:hover {
  background-color: #0056b3;
}





