.side-nav{
  width: 100px;
  background-color: white;
}

.floor-selection,
.camera-selection {
  line-height: 0px;
  margin-bottom: 0px;
  margin-top: -10px;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 05px;
  margin-bottom: 0px;
}

.camera-checkbox {
  margin-top: -15px;
  margin-bottom: 0;
}
input {
  width: 15px;
  margin-right: 7px;
}
.bold-text {
  font-weight: bold;
  font-size: 16px;
}
.resetButton{
  background-color: #009dff;
  color: white;
  height: 25px;
  width: 60%;
  border: white;
  border-radius: 5px;
  margin-left: 45px;
}