
.button.small_button_blue:hover {
    background-color: #0056b3;
}

.button.small_button_red:hover {
    background-color: rgba(244, 67, 54, 0.25);
}

.button.small_button_green:hover {
    background-color: #006A4E;
}


.button.small_button_green {
    height: 40px;
    width: 200px;
    background-color: #1CAC78;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}


.button.small_button_blue {
    height: 40px;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}

.small_button_red {
    padding: 5px 10px;
    background-color: rgba(244, 67, 54, 0.15);
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
