
.button.small_button_blue:hover {
    background-color: #0056b3;
}

.button.small_button_green {
    height: 60px;
    width: 200px;
    background-color: #1CAC78;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}

.button.small_button_green:hover {
    background-color: #006A4E;
}
.button.small_button_blue {
    height: 60px;
    width: 200px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px;
}