.video-feed-container {
    display: flex;
    padding: 20px;
  }
  
  .sidebar {
    width: 15%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    align-self: flex-start;
  
    h3 {
      margin-bottom: 10px;
    }
  
    .floor-list {
      list-style-type: none;
      padding: 0;
  
      h4 {
        margin-bottom: 10px;
        margin-left: -40px;
      }
    }
  
    .camera-list {
      list-style-type: none;
      padding-left: 20px;
      margin: 0;
  
      li {
        margin-bottom: 10px;
      }
    }
  
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
  
  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  
  .video-box {
    background-color: #ddd;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 325px; /* Fixed height for consistency */
    display: flex;
    justify-content: center;
    align-items: center;
  
    video {
      height: 100%; /* Fixed height for the video */
      max-width: 100%; /* Make sure the video width doesn't exceed the container */
      border-radius: 10px;
      object-fit: contain; /* Ensure the video maintains its aspect ratio */
    }
  }
  