.video-feed-container {

  display: flex;
}

.video-feed {
  flex-grow: 1;
  padding: 10px;
}

.side-nav {
  width: 300px;
  padding: 20px;
  background-color: #efecec;
  border-right: 1px solid rgba(255, 250, 250, 0.4);
}
.video-feed {
  padding: 20px;
}

.viewers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.viewer-item {
  width: 320px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: #596473;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
