/*Styles for the edit user modal*/
.modal-content{
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}