.search-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  h3{
    padding-top: 10px;
    padding-right: 50px;
  }
  .search-input{
    height: 40px;
    width: 800px;
  }
  Button{
    margin-left: 20px;
    height: 40px;
  }
}

#add-user{
  background-color: #43B749;
}