@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root{
  margin: 0;
  max-width: 100%;
  padding: 0;
}

:root{
  --primaryColor: #50CD89;
  --hoverColor: #9ad6b5;
  --paleGreen: #dff8ce;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --greyText: #bfbfbf;
  --bgColor: #d6ddd5;
  --inputColor: #f8f6f7;

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSixze: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex{
  display:  flex;
  align-items: center;
}

.grid{
  display:  grid;
  align-items: center;
  gap: 1.5rem;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video{
  height: auto;
  width: 100%;
}

.message{
  display: none
}


.showMessage{
  display: block;
  color: var(--whiteColor);
  background-color: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyText);
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  color: var(--primaryColor);
  background: var(--paleGreen);
}
//pages styling
.loginPage{
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214,223,213);

  .container{
    height: 85vh;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: var(--whiteColor);

    .videoDiv{
      position: relative;
      display: flex;
      flex-basis: 50%;
      width: 70%;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;
      opacity: 0.8;

      video, .footerDiv{
        position: absolute;
      }

      video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      .textDiv{
        position: relative;

        .title{
          color: var(--whiteColor);
          font-size: 35px;
          font-weight: 800;
        }
      }

      .footerDiv{
        bottom: 10px;
        padding: 0 1rem;
        height: 60px;
        background: rgba(255,255,255,0.248);
        left: 10px;
        right: 10px;
        justify-content: space-between;
        backdrop-filter: blur(1px);
        border-radius: 10px;
      }

      .text{
        color: var(--whiteColor);
      }
    }

    .formDiv{
      flex-basis: 50%;
      margin: auto;
      flex-direction: column;
      gap: 1.5rem;
      transform: translateY(-1rem);

      .headerDiv{
        text-align: center;
        padding: 1.5rem 0;

        img{
          width: 50%;
          padding-bottom: .5rem;
        }

        h3{
          font-size: 25px;
          color: var(--blackColor);
          font-weight: 600;
        }
      }

      .form{
        gap: 1rem;

        .inputDiv{
          .icon{
            color: var(--greyText);
          }

          input{
            background: none;
            outline: none;
            border: none;
            width: 200px;
          }

          label{
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            padding: .5rem 0;
            display: block;
          }

          .input{
            gap: .5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius:  10px;
          }
        }

        .error{
          color: #b91919;
        }

        .btn{
          padding: .8rem;
          background: var(--primaryColor);
          border-radius: 10px;
          color: var(--whiteColor);
          align-items: center;
          margin: auto;
          justify-content: center;
          font-size: 16px;
          width: 100%;
          gap: .5rem;
          transition: .3s ease;

          .icon{
            font-size: 25px;
            transition: .3s ease;
          }

          &:hover{
            background: var(--hoverColor);
            color: var(--blackColor);

            .icon{
              color: var(--blackColor);
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 602px){
  .loginPage{
    .container{
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv{
        width: 100%;
        .textDiv{
          .title{
            font-size: 20px;
          }

          p{
            padding: 1rem;
          }
        }

        .footerDiv{
          .text{
            font-size: 12px;
          }

          .btn{
            padding: .4rem 1.5rem;
          }
        }
      }
      .formDiv{
        gap: 1rem;
        transform: translateY(-.5rem);

        .headerDiv{
          padding: 1rem 0;

          img{
            width: 170px;
          }

          h3{
            font-size: 20px;
          }
        }

        .form{
          gap: .5rem;

          .inputDiv{
            input{
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 678px){
  .loginPage{
    .container{
      .videoDiv{
        .textDiv{
          .title{
            font-size: 20px;
          }

          p{
            padding: 1rem;
          }
        }

        .footerDiv{
          .text{
            font-size: 12px;
          }

          .btn{
            padding: .8rem 1.5rem;
          }
        }
      }
      .formDiv{
        .headerDiv{
          padding: 1.5rem 0;

          h3{
            font-size: 20px;
          }
        }

        .form{
          .inputDiv{
            input{
              width: 100%;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 927px){
  .loginPage{
    .container{
      width: 85%;
    }
  }
}