.videoCont {
    position: relative;
    width: 102%;
    margin: -8%;
    margin-left: -15%;
    opacity: 0.8;
}

.text {
  background-color: #0056b3;
  position: absolute;
  top: -10%;
  padding: 5%;
  right:-4%;
  color: white;
  opacity: 0.9;
  width: 40%;
  height: 120%;
}
.heading1{
  font-weight: bold;
  margin-top: 10%;
  font-size: 80px;
}
.heading2{
  font-size: 40px;
}
.ButtonCont{
  margin-top: 45%;
  margin-left: -4%;
}
