@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root{
  --primaryColor: #50CD89;
  --hoverColor: #9ad6b5;
  --paleGreen: #dff8ce;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --greyText: #bfbfbf;
  --bgColor: #d6ddd5;
  --inputColor: #f8f6f7;
  --inputColor2: #e2e9e6;

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSixze: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex{
  display:  flex;
  align-items: center;
}

.grid{
  display:  grid;
  align-items: center;
  gap: 1.5rem;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img, video{
  height: auto;
  width: 100%;
}

.message{
  display: none
}


.showMessage{
  display: block;
  color: var(--whiteColor);
  background-color: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyText);
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  color: var(--primaryColor);
  background: var(--paleGreen);
}
//pages styling
.loginPage{
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214,223,213);

  .container{
    height: 75vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: hsl(0, 0%, 91%);

    .videoDiv{
      position: relative;
      display: flex;
      flex-basis: 50%;
      width: 70%;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;

      video, .footerDiv{
        position: absolute;
      }

      video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      .textDiv{
        position: relative;

        .title{
          color: var(--whiteColor);
          font-size: 35px;
          font-weight: 800;
        }
      }

      .footerDiv{
        bottom: 10px;
        padding: 0 1rem;
        height: 60px;
        background: rgba(255,255,255,0.248);
        left: 0;
        right: 0;
        justify-content: space-between;
        backdrop-filter: blur(1px);
        border-radius: 10px;
      }

      .text{
        color: var(--whiteColor);
      }
    }
  }
}