* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.above-4cm {
  background-color: white;
  height: 4cm; /* Adjust height as needed*/
}

.below-4cm {
  background-color: rgb(232, 229, 229);
}

nav {
  background-color: #333;
  padding: 10px 0;
  margin-top: -1.5cm; /* Move the navigation bar up by 0.5cm*/
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.5cm; /* Add 0.5 cm space between links*/
}

nav li:first-child {
  margin-left: 1cm;  /* Start the first link 1 cm from the left*/
}

nav li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav li a:hover {
  background-color: #9b0a0a;
}
